:root {
  --branding-color: #fbf3fa;
  --grey-fill: rgb(89, 101, 113);
  --img-size: 400px;
  --firstfont: "Playfair Display", serif;
  --btn-background: rgb(87, 95, 248);
  --btn-color: white;
  --project-padding: 50px;
  --project-margin: 30px;
  --text-margin: 10px;
  --img2-size: 120px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--branding-color);
}

.hero {
  background-color: var(--branding-color);
  text-align: center;
}
h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
.hero p {
  color: var(--grey-fill);
  font-weight: bolder;
}
.hero h1 {
  font-size: 55px;
}
.logo {
  width: 80px;
  height: auto;
}
.hero h6 {
  font-family: "Poppins", sans-serif;
  line-height: 40px;
}

.button-color a:hover {
  color: var(--grey-fill);
}
.navbar-color {
  background-color: var(--branding-color);
}
.projects {
  background-color: var(--branding-color);
  text-align: center;
}
.projects h3 {
  font-weight: bold;
  color: var(--grey-fill);
  text-decoration: underline;
}
.project1 {
  width: var(--img-size);
}
.projects h2 {
  font-family: var(--firstfont);
  font-weight: bold;
  margin-top: 20px;
}
.projectsHeading {
  margin-top: 10px;
  padding: 15px;
}

.flamelily {
  padding: 10px;
  text-align: center;
}
.footer {
  background-color: rgb(238, 178, 238);
}
.mailfoot {
  text-align: center;
  margin: 30px;
}
.footer-button {
  margin-top: 50px;
}
@media (min-width: 800px) {
  .project-para {
    padding-top: 30px;
  }
}

.dash-heading {
  text-align: center;
  margin-bottom: 25px;
}
.sub-heading {
  text-align: center;
  color: var(--grey-fill);
  text-decoration: underline;
  font-weight: bold;
}
.calendar1 {
  width: var(--img-size);
  margin: 20px;
}
@media (max-width: 800px) {
}
.about-me {
  background-color: var(--branding-color);
}
