:root {
  --branding-color: #fbf3fa;
  --grey-fill: rgb(89, 101, 113);
  --img-size: 400px;
  --firstfont: "Playfair Display", serif;
  --btn-background: rgb(87, 95, 248);
  --btn-color: white;
  --project-padding: 50px;
  --project-margin: 30px;
  --text-margin: 10px;
  --img2-size: 120px;
  --brand-shade-2: rgb(234, 208, 243);
  --brand-radius: 12px;
  --brand-border: 2px solid rgb(234, 208, 243);
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--brand-shade-2);
}

.hero {
  background-color: var(--brand-shade-2);
  text-align: center;
  border: var(--brand-border);
  border-radius: var(--brand-radius);
}
.dash-container {
  background-color: var(--brand-shade-2);
  border-radius: var(--brand-radius);
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
.hero p {
  color: var(--grey-fill);
}
.hero h1 {
  font-size: 55px;
}
.logo {
  width: 80px;
  height: auto;
}
.hero h6 {
  font-family: "Poppins", sans-serif;
  line-height: 40px;
}

.button-color a:hover {
  color: var(--grey-fill);
}
.navbar-color {
  background-color: var(--branding-color);
}
.projects {
  background-color: var(--branding-color);
  text-align: center;
  border-radius: var(--brand-radius);
}
.projects h3 {
  font-weight: bold;
  color: var(--grey-fill);
  text-decoration: underline;
}
.project1 {
  width: var(--img-size);
}
.projects h2 {
  font-family: var(--firstfont);
  font-weight: bold;
  margin-top: 20px;
}
.projectsHeading {
  margin-top: 10px;
  padding: 15px;
}

.flamelily {
  padding: 10px;
  text-align: center;
}
.footer {
  background-color: var(--brand-shade-2);
}
.mailfoot {
  text-align: center;
  margin: 30px;
}
.footer-button {
  margin-top: 50px;
}
@media (min-width: 800px) {
  .project-para {
    padding-top: 30px;
  }
}
.about-me {
  background-color: var(--branding-color);
  border-radius: var(--brand-radius);
  border: var(--brand-border);
}
.about-me p {
  color: var(--grey-fill);
}
.about-me h3 {
  text-decoration: underline;
}

.dash-heading {
  text-align: center;
  margin-bottom: 25px;
}
.sub-heading {
  text-align: center;
  color: var(--grey-fill);
  text-decoration: underline;
  font-weight: bold;
}
.calendar1 {
  width: var(--img-size);
  margin: 20px;
}
.contacts-container {
  border-radius: var(--brand-radius);
}
.contact-heading {
  margin-top: 120px;
  text-align: center;
}
.contact-info {
  border: var(--brand-border);
  border-radius: var(--brand-radius);
}
.contact-button {
  margin-top: 30px;
  text-align: center;
}
.about-me-page {
  text-align: center;
  margin: 24px;
}
.nav-content {
  display: inline;
  list-style: none;
}
.nav-content li {
  padding-left: 30px;
  font-size: 15px;
}
.small-logo {
  width: 50px;
  height: auto;
  margin-top: 15px;
}
@media (max-width: 400) {
  .small-logo {
    display: none;
  }
  .navbar ul {
    background-color: red;
  }
}
.navbar a {
  text-decoration: underline;
}
.navbar a:hover {
  color: purple;
}
.icon {
  font-size: 30px;
  color: var(--btn-background);
  margin: 0 20px;
  transition: color 0.3s;
  padding: 10px 14px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

.icon:hover {
  color: maroon;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
@media (min-width: 600px) {
  body {
    padding: 30px;
    margin: 30px;
  }
}
